.site-logo img {
    width: 150px; /* Boyutu ayarla */
    height: 150px;
    border-radius: 50%; /* Yuvarlak yapmak için */
    object-fit: cover;
}

.social-icons .fa-linkedin {
    color: black !important; /* Siyah renk */
}
